body {
    background-color: #FEFBF1;
    /* display: flex; */
}

.content {
    margin: 0.7% auto 0% auto;
    width: 45%;
    min-height: 90%;
}

.image {
    padding-top: 1%;
}

.author {
    text-align: right;
    padding-right: 4%;
}

.quote {
    padding: 2%;
    text-align: left;
}

p {
    margin: 0% !important;
}

.refresh-btn {
    position: relative;
    margin-left: 60%;
    top: -90
}